* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Calibri,Arial,sans-serif;
  background-color: rgb(18, 18, 18);
}

/* .header {
  text-align: center;
  padding: 32px;
} */


.container {
  padding-top: 4rem;
}

/* header */
.navbar {
  width: 100%;
  height: 3.5rem;
  background-color: #0063B5;
  position: fixed;
}

.sidebar-btn {
  position: fixed;
  top:0; right: 0;
  padding: 10px;
  cursor: pointer;
}

.logo {
  padding: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), -20px 6px 20px 0 rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.sidebar-collapsed {
  right: -60%;
  transition: 0.75s;
}

ul.sidebar-list {
  list-style-type: none;
  padding: 0;
}

ul.sidebar-list > li {
  padding: 20px;
  transition: 0.25s;
  margin: 0;
  cursor: pointer;
}

ul.sidebar-list > li.selected {
  background-color: rgba(0, 0, 0, 0.3);
  /* transition: 0.25s; */
}

ul.sidebar-list > li:first-child {
  text-align: center;
}

ul.sidebar-list > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.25s;
}



.loading {
  color: white;
  margin: auto;
  vertical-align: middle;
  font-size: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .sidebar {
    /* position: fixed; */
    /* top: 0; */
    /* right: 0; */
    /* height: 100%; */
    width: 60%;
    /* background-color: white; */
  }

  .sidebar-collapsed {
    right: -80%;
    /* transition: 0.25s; */
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 319px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


